body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    padding-top: 100px;
}

.container {
    background: white;
    padding: 40px;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 18px;
}


